/* --------------------- */
/* -----[ GENERAL ]----- */
/* --------------------- */

html {
	font-size: 100%;
}

body {
	background: #500000 url(../images/bg-gradient.png) repeat-x top left;
	color: #333;
	font-family: sans-serif, Verdana, Tahoma, Sans, Arial, Helvetica;
	font-size: 1em;
	padding: 0;
}

a {
	color: #900000;
	outline: none;
	text-decoration: underline;
}

a:hover {
	color: #900000;
	text-decoration: underline;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

#wrap {
	margin: 20px auto;
	padding: 10px 20px;
	width: 960px;
}


/* -------------------- */
/* -----[ HEADER ]----- */
/* -------------------- */

#header {
	background: #000 url(../images/header-bg.png) repeat-x top left;
	padding: 20px 20px 15px;
}

#logo {
	float: left;
}

#search {
	background-color: #900000;
	float: right;
	height: auto;
	margin: 25px 0 0;
}

#search-table {
	border-collapse: collapse;
	margin: 5px !important;
}

#search input {
	border: 1px solid #121212;
	padding: 3px;
	width: 200px;
}

#search button {
	background-color: #121212;
	border: 1px solid #121212;
	color: #FFF;
	cursor: pointer;
	padding: 2px;
}


/* ------------------------ */
/* -----[ NAVIGATION ]----- */
/* ------------------------ */

#navigation {
	background: #000 url(../images/nav-bg.jpg) repeat-x top left;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	color: #FFF;
	height: 28px;
}

#navigation ul {
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
}

#navigation ul li {
	display: inline-block;
	float: left;
	margin: 0;
		
}

#navigation ul li a {
	border-left: 1px solid #555;
	border-right: 1px solid #000;
	color: #FFF;
	display: inline-block;
	padding: 4px 10px;
	text-decoration: none;
}

#navigation ul li a:hover {
	background-color: #323232;
	border-left: 1px solid #323232;
}


/* ------------------ */
/* -----[ BODY ]----- */
/* ------------------ */

#body {
	background: #FFF url(../images/right-nav-bg.gif) repeat-y top right;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
}


/* ---[ CONTENT ] --- */

#content {
	float: left;
	margin-right: -212px;
	padding: 10px;
	width: 728px;
}

.entry {
	background: #FFF url(../images/post-gradient.gif) repeat-x top left;
	border: 1px solid #CCC;
	font-size: .9em;
	margin: 0 0 10px;
	padding: 10px;
}

.post-title {
	color: #900000;
	font-size: 1.3em;
	margin: 0;
}

.post-info {
	color: #707070;
	font-size: 0.8em;
	margin: 2px 0 15px;
}

.post-meta-data {
	background-color: #DEDEDE;
	padding: 10px;
	margin: 1.5em 0 10px;
}

.post-meta-data .tags {
	background: transparent url(../images/icons/tag_blue.png) no-repeat left center;
	font-size: 0.8em;
	margin: 2px 0 .5em;
	padding: 0 0 0 20px;
}

.post-meta-data .category {
	background: transparent url(../images/icons/application_view_list.png) no-repeat left center;
	padding: 0 0 5px 20px;
}

.post-meta-data .edit a {
	background: transparent url(../images/icons/page_white_edit.png) no-repeat left center;
	padding: 0 0 0 20px;
}

.post-meta-data .comments a {
	background: transparent url(../images/icons/comments.png) no-repeat left center;
	padding: 0 0 5px 20px;
}


/* ---[ RIGHT NAVIGATION ]--- */

#right-nav {
	float: right;
	margin-left: -748px;
	padding: 10px;
	width: 190px;
}


/* -------------------- */
/* -----[ FOOTER ]----- */
/* -------------------- */

#footer {
	background: #323232 url(../images/footer-bg.png) repeat-x top left;
	height: 60px;
}


/* ---------------------------- */
/* -----[ MISCELLANEOUS ] ----- */
/* ---------------------------- */

#content div.hr {
  background-color: #555;
  border: 0;
  height: 1px;
  margin: 1em 0;
  width: 100%;
}

#content div.hr hr {
  display: none;
}

/* CLEAR FIX*/
.clearfix:after {content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */
