/* --------------------- */
/* -----[ GENERAL ]----- */
/* --------------------- */

html {
	font-size: 100%;
}

body {
	background: #500000 url(../images/bg-gradient.png) repeat-x top left;
	color: #333;
	font-family: sans-serif, Verdana, Tahoma, Sans, Arial, Helvetica;
	font-size: 1em;
	padding: 0;
}

a {
	color: #900000;
	outline: none;
	text-decoration: underline;
}

a:hover {
	color: #121212;
	text-decoration: underline;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

#wrap {
	margin: 0 auto;
	padding: 20px;
	width: 960px;
}


/* -------------------- */
/* -----[ HEADER ]----- */
/* -------------------- */

#header {
	background: #000 url(../images/header-bg.png) repeat-x top left;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding: 20px 20px 15px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
}

#logo {
	float: left;
	width: 500px;
}

#search {
	background-color: #999;
	border-radius: 4px;
	float: right;
	height: auto;
	margin: 15px 0 0;
	width: auto;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

#search-table {
	border-collapse: collapse;
	margin: 5px !important;
}

#search input {
	border: 1px solid #121212;
	font-size: 1.2em;
	padding: 3px;
	width: 225px;
}

#search button {
	background-color: #121212;
	border: none;
	color: #FFF;
	cursor: pointer;
	padding: 7px;
}


/* ------------------------ */
/* -----[ NAVIGATION ]----- */
/* ------------------------ */

#navigation {
	background: #323232 url(../images/nav-bg.jpg) repeat-x top left;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	color: #FFF;
	height: 28px;
}

#navigation ul {
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
}

#navigation ul li {
	display: inline-block;
	float: left;
	margin: 0;
		
}

#navigation ul li a {
	border-left: 1px solid #555;
	border-right: 1px solid #000;
	color: #FFF;
	display: inline-block;
	padding: 4px 10px;
	text-decoration: none;
}

#navigation ul li a:hover {
	background-color: #323232;
	border-left: 1px solid #323232;
}

#navigation #feed-icon {
	color: #FF9900;
	float: right;
	font-size: .9em;
	margin: 5px;
	width: 16px;
}


/* ------------------ */
/* -----[ BODY ]----- */
/* ------------------ */

#body {
	background: #FFF url(../images/right-nav-bg.gif) repeat-y top right;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
}


/* ---[ CONTENT ] --- */

#content {
	float: left;
	margin-right: 190x;
	padding: 10px;
	width: 728px;
}

.entry {
	background: #FFF url(../images/post-gradient.gif) repeat-x top left;
	border: 1px solid #CCC;
	font-size: .9em;
	margin: 0 0 10px;
	padding: 10px;
}

.entry p {
	line-height: 1.3em;
}

.post-title {
	color: #900000;
	font-size: 1.3em;
	margin: 0;
}

.post-info {
	color: #707070;
	font-size: 0.8em;
	margin: 2px 0 15px;
}

.post-meta-data {
	background-color: #DEDEDE;
	border-radius: 10px;
	padding: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.post-meta-data .tags {
	background: transparent url(../images/icons/tag_blue.png) no-repeat left center;
	font-size: 0.8em;
	margin: 2px 0 .5em;
	padding: 0 0 0 20px;
}

.post-meta-data .category {
	background: transparent url(../images/icons/application_view_list.png) no-repeat left center;
	padding: 0 0 5px 20px;
}

.post-meta-data .edit a {
	background: transparent url(../images/icons/page_white_edit.png) no-repeat left center;
	padding: 0 0 0 20px;
}

.post-meta-data .comments a {
	background: transparent url(../images/icons/comments.png) no-repeat left center;
	padding: 0 0 5px 20px;
}


/* ---[ RIGHT NAVIGATION ]--- */

#right-nav {
	float: right;
	margin-left: -190px;
	padding: 10px;
	width: 189px;
}

#meeting-info {
	background-color: #900000;
	border-radius: 10px;
	color: #FFF;
	display: block;
	font-size: .8em;
	margin: 0;
	padding: 10px;
	text-decoration: none;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

#meeting-info:hover {
	background-color: #121212;
}

#meeting-info .title {
	border-bottom: 1px solid #FFF;
	display: block;
	font-size: 1.2em;
	font-weight: bold;
	margin: 0;
	padding: 0 0 2px;
	text-align: center;
}


#meeting-info a {
	color: #FFF;
}

#meeting-info .row {
	border-bottom: 1px solid #FFF;
	display: block;
	padding: 2px 0;
}

#meeting-info .row .left {
	float: left;
	font-weight: bold;
	width: 30%;
}

#meeting-info .row .right {
	float: right;
	text-align: right;
	width: 70%;
}

#meeting-info .more-info {
	display: block;
	font-size: .85em;
	margin: 5px 0 0;
	padding: 0;
	text-align: center;
}


/* -------------------- */
/* -----[ FOOTER ]----- */
/* -------------------- */

#footer {
	background: #323232 url(../images/footer-bg.png) repeat-x top left;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	color: #DEDEDE;
	font-size: .8em;
	padding: 10px;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
}

#footer p {
	margin: 0;
}

#footer .left {
	float: left;
	width: 50%;
}

#footer .right {
	float: right;
	text-align: right;
	width: 50%;
}


/* ---------------------------- */
/* -----[ MISCELLANEOUS ] ----- */
/* ---------------------------- */

#content div.hr {
  background-color: #555;
  border: 0;
  height: 1px;
  margin: 1em 0;
  width: 100%;
}

#content div.hr hr {
  display: none;
}

/* CLEAR FIX*/
.clearfix:after {content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */
